<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logit">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.any"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Logit">
        <activity android:name=".student_scanner"></activity>
        <activity android:name=".nav" />
        <activity android:name=".sign_up_create" />
        <activity android:name=".signup_name" />
        <activity android:name=".login" /> <!-- <activity android:name=".activity_signup_or_login"></activity> -->
        <activity android:name=".activity_instruction4" />
        <activity android:name=".activity_instruction3" />
        <activity android:name=".activity_instruction2" />
        <activity android:name=".activity_instruction1" />
        <activity android:name=".activity_signup_or_login" />
        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>